<a href="https://colab.research.google.com/github/Madhu777777/Madhu777777/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
M1 = pd.DataFrame({"ID":[4,5,6],"Name": ["rahul","mohit","mahi"],"Class": [7,8,9]})
M1

   ID   Name  Class
0   4  rahul      7
1   5  mohit      8
2   6   mahi      9

In [27]:
M1.loc[[1,2]]

   ID   Name  Class
1   5  mohit      8
2   6   mahi      9

In [56]:
M1.iloc[[0]]

   ID   Name  Class
0   4  rahul      7

In [7]:
M2 = pd.DataFrame({"ID":[1,2,3],"Name": ["rohit","soni","deepak"],"Class": [10,11,12]})
M2

   ID    Name  Class
0   1   rohit     10
1   2    soni     11
2   3  deepak     12

In [12]:
pd.concat([M1, M2],ignore_index = True)

   ID    Name  Class
0   4   rahul      7
1   5   mohit      8
2   6    mahi      9
3   1   rohit     10
4   2    soni     11
5   3  deepak     12

In [42]:
M1.join(M2,rsuffix = 1)

   ID   Name  Class  ID1   Name1  Class1
0   4  rahul      7    1   rohit      10
1   5  mohit      8    2    soni      11
2   6   mahi      9    3  deepak      12

In [51]:
pd.merge(M1,M2)

Empty DataFrame
Columns: [ID, Name, Class]
Index: []

In [57]:
M1 = pd.DataFrame({"ID":[1,2,3,4,5,6],"Name": ["rahul","mohit","mahi","richa","rithik","sanaya"],"Class": [7,8,9,7,8,9]})
M1

   ID    Name  Class
0   1   rahul      7
1   2   mohit      8
2   3    mahi      9
3   4   richa      7
4   5  rithik      8
5   6  sanaya      9

In [58]:
M1.pivot(index = "ID",columns = "Class")

        Name
Class      7       8       9
ID
1      rahul     NaN     NaN
2        NaN   mohit     NaN
3        NaN     NaN    mahi
4      richa     NaN     NaN
5        NaN  rithik     NaN
6        NaN     NaN  sanaya